@media (max-width: 900px) {
    #bnt_de_meu_header{
        display: block;
        font-size: 40px;
        display: flex;
        align-items: center;
        color: #1D3557;
        cursor: pointer;
    }

    .header{
        padding: 5px 2%;
    }
    .links{
        position: absolute;
        z-index: 1;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 3rem 4%;
        background-color: #F1FAEE;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .links.links_active{
        left: 0;
        transition-delay: 0s;
    }

    .links a{
        display: block;
        margin: 3rem 0px;
    }
    .sesao_inicio {
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 50px 5%;
        text-align: center;
    }

    .imagem {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .imagem img {
        width: 80%;
        max-width: 400px;
    }

    .textos_redes_sociais {
        width: 100%;
        height: auto;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .textos {
        width: 100%;
    }

    .textos h2 {
        font-size: 30px;
    }

    .textos p {
        font-size: 11px;
    }

    .redes_sociais {
        position: static;
        margin-top: 20px;
        width: 80%;
    }

    .sessao_sobremim {
        flex-direction: column;
        height: auto;
        gap: 30px;
        padding: 20px 5%;
    }

    .textos_sobre_mim {
        max-width: 100%;
        
    }

    .textos_sobre_mim p{
        font-size: 11px;
    }


    .imagem_sobre_mim img {
        width: 80%;
        max-width: 400px;
    }



    
}
