@media (max-width :1000px){
    .textos_redes_sociais h2{
        font-size: 45px;
        
    }

    .redes_sociais{
        display: flex;
        justify-content: space-around;
        width: 80%;
    }
    
    .habilidades{
        width: 100%;
        justify-content: space-around;
        gap: 20px;
    }
    .habilidades>div{
        margin: 0;
    }

    
}


@media (max-width :800px){
    .sesao_inicio{
        flex-direction: column !important;
        padding: 0px;
        height: 850px;
    }
    .sessao_sobremim{
        flex-direction: column !important;
        padding: 20px;
        height: 750px;
        
    }

    .textos_sobre_mim{
        
        max-width: 90% !important;
    }

    .textos_redes_sociais h2{
        font-size: 40px;
    }
    .textos_redes_sociais{
        width: 100% !important;
    }

    .redes_sociais{
        display: flex;
        justify-content: space-around;
        bottom: 20px;
        width: 60%;
    }

    .imagem{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .imagem img{
        width: 350px;
       
    }

    

    .textos_sobre_mim p{
        font-size: 18px;
    }

    .sessao_habilidades{
        height: 850px;
    }

    .sessao_habilidades{
        position: relative;
    }

    .titulo_habilidades{
        position: absolute;
        top: 40px;
    }
    .habilidades{
        justify-content: space-around;
    }

    .habilidades>div{
        width: 200px;
        height: 200px;
    }

    

}




@media (max-width :600px){
   
    .sesao_inicio{
        flex-direction: column !important;
        padding: 0px;
        height: 850px;
        
    }
    .textos_redes_sociais{
        width: 100% !important;
    }
    .textos_redes_sociais h2{
        font-size: 35px;
    }
    .textos_sobre_mim h2{
        font-size: 25px;
    }
    .textos_sobre_mim p{
        font-size: 15px;
    }

    

    .redes_sociais{
        display: flex;
        justify-content: space-around;
        bottom: 70px;
        width: 60%;
    }
    .redes_sociais i{
        font-size: 25px;
    }

    
    .habilidades>div{
        width: 200px;
        height: 200px;
    }
}




@media (max-width :450px){
    
    .sessao_sobremim{
        padding: 25px;
    }
    
    

    .habilidades>div{
        width: 160px;
        height: 160px;
    }
    .sessao_habilidades{

        height: 550px;
        position: relative;
    }

    .titulo_habilidades{
        position: absolute;
        top: 20px;
    }
}


@media(max-width :399px){
    .sesao_inicio{

        padding: 0;
    }
    

    .textos_redes_sociais{
        height: 50% !important;
        justify-content: space-around;
    }

    .redes_sociais{
        bottom: 0;
    }
    .sessao_sobremim{
        height: 550px;
    }

    .textos_sobre_mim{
        max-width: 100%;
    }

    .textos_sobre_mim p{
        font-size: 12px;
    }
    

}
